/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f1ebeb;
  position: relative; }

body {
  font-size: 1.6rem;
  font-family: "Commissioner", sans-serif;
  color: #7a7a7a; }

.heading--primary {
  color: black; }

.heading--secondary {
  color: black; }

.heading--tertiary {
  color: black; }

.paragraph {
  line-height: 3rem; }

.span--big {
  font-size: 4rem;
  font-weight: 700;
  line-height: 150%;
  color: black; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; }

.u-faded {
  opacity: 0.5;
  pointer-events: none; }

.u-hide {
  display: none !important; }

.btn {
  text-decoration: none;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 2.8rem;
  background-color: #147b74; }
  .btn:hover {
    background-color: #3cb4ac; }
  @media only screen and (max-width: 56.25em) {
    .btn--back {
      flex-grow: 1;
      border-radius: 4rem; } }
  .btn--bookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3cb4ac;
    padding: 0;
    margin-left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .btn--bookmark {
        border-radius: 50%;
        padding: 0; } }
    .btn--bookmark span {
      margin: 0 2.5rem; }
      @media only screen and (max-width: 56.25em) {
        .btn--bookmark span {
          display: none; } }

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: rgba(60, 180, 172, 0.1);
  border-radius: 5px;
  position: relative; }
  .progress-bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    border-radius: 5px;
    background-color: #147b74; }

.card {
  padding: 3rem;
  border: 1px solid rgba(60, 180, 172, 0.5);
  border-radius: 2rem; }
  .card .heading--tertiary {
    position: relative; }
    .card .heading--tertiary::after {
      position: absolute;
      right: 0px;
      color: rgba(60, 180, 172, 0.5);
      font-weight: 400;
      font-size: 1.6rem; }
    @media only screen and (max-width: 56.25em) {
      .card .heading--tertiary {
        position: relative;
        left: 0;
        top: 150%; } }
  .card:nth-of-type(1) .heading--tertiary::after {
    content: "Pledge $25 or more"; }
  .card:nth-of-type(2) .heading--tertiary::after {
    content: "Pledge $50 or more"; }
  .card:nth-of-type(3) .heading--tertiary::after {
    content: "Pledge $75 or more"; }
  .card .paragraph {
    margin-top: 5rem; }
  .card__data-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .card__data-wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem; } }
    .card__data-wrap span {
      position: relative; }
      .card__data-wrap span::after {
        content: "left";
        position: absolute;
        top: 50%;
        right: -3rem;
        translate: 0 -50%;
        font-size: 1.2rem;
        color: #3cb4ac; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(122, 122, 122, 0.4);
  overflow-y: auto;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal__card--wrap > div {
    display: flex; }
    .modal__card--wrap > div input {
      margin-right: 3rem; }
    .modal__card--wrap > div .heading--tertiary {
      position: relative; }
      .modal__card--wrap > div .heading--tertiary:hover {
        color: rgba(60, 180, 172, 0.5);
        cursor: pointer; }
      .modal__card--wrap > div .heading--tertiary::after {
        color: rgba(60, 180, 172, 0.5);
        font-weight: 400;
        font-size: 1.6rem;
        margin-left: 2rem; }
        @media only screen and (max-width: 56.25em) {
          .modal__card--wrap > div .heading--tertiary::after {
            display: block;
            margin-left: 0; } }
  .modal__card--wrap .paragraph {
    margin-left: calc(3rem + 13px); }
  .modal__card--wrap .amount-left--desktop {
    margin-left: auto; }
    @media only screen and (max-width: 56.25em) {
      .modal__card--wrap .amount-left--desktop {
        display: none; } }
  .modal__card--wrap .amount-left--phone {
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .modal__card--wrap .amount-left--phone {
        display: block;
        margin-left: calc(3rem + 13px); }
        .modal__card--wrap .amount-left--phone .amount-left__num {
          font-size: 3rem; }
        .modal__card--wrap .amount-left--phone .amount-left__text {
          font-size: 1.5rem;
          top: -3px; } }
  .modal__card--wrap .amount-left__num {
    font-weight: 700;
    font-size: 2rem;
    color: black; }
  .modal__card--wrap .amount-left__text {
    font-size: 1.2rem;
    position: relative;
    top: -2px; }
  .modal__card--extension {
    border-top: 1px solid rgba(60, 180, 172, 0.5);
    margin: 0 -3rem -3rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .modal__card--extension {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem; } }
    .modal__card--extension .extension__buttons {
      display: flex;
      gap: 2rem;
      align-items: center; }
    .modal__card--extension .btn--donate {
      cursor: pointer;
      border: 1px solid rgba(60, 180, 172, 0.5);
      padding: 1rem 2rem;
      border-radius: 2.8rem; }
      .modal__card--extension .btn--donate input {
        width: 4rem;
        border: 0;
        outline: 0;
        -moz-appearance: textfield;
        text-align: center; }
        .modal__card--extension .btn--donate input::-webkit-outer-spin-button, .modal__card--extension .btn--donate input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; }
    .modal__card--extension label a {
      display: block; }
  .modal__back-project {
    position: relative; }
    .modal__back-project > * {
      margin-bottom: 3rem; }
    .modal__back-project .close-btn {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
      font-weight: 700; }
    .modal__back-project > div {
      padding: 3rem;
      border: 1px solid rgba(60, 180, 172, 0.5);
      border-radius: 2rem; }
      .modal__back-project > div:nth-of-type(2) .heading--tertiary::after {
        content: "Pledge $25 or more"; }
      .modal__back-project > div:nth-of-type(3) .heading--tertiary::after {
        content: "Pledge $50 or more"; }
      .modal__back-project > div:nth-of-type(4) .heading--tertiary::after {
        content: "Pledge $75 or more"; }
  .modal__thanks {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5%;
    left: 0;
    background-color: rgba(128, 128, 128, 0.39); }
    .modal__thanks .message {
      text-align: center;
      max-width: 60rem;
      margin: auto; }
      .modal__thanks .message .btn {
        padding: 2rem 4rem;
        display: inline-block; }

.header__buttons {
  display: flex;
  justify-content: space-between; }

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5%;
  z-index: 100; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      background-image: linear-gradient(to bottom, black, transparent);
      padding: 5%; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__logo {
      z-index: 300; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__nav {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100vh;
      background-image: linear-gradient(to bottom, black 5%, transparent);
      opacity: 0;
      translate: 100% 0;
      transition: all 0.2s; } }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    translate: 0 0; }
  .navigation__list {
    display: flex;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        flex-direction: column;
        background-color: white;
        position: absolute;
        width: 90%;
        left: 5%;
        top: 10rem;
        border-radius: 1rem; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__item:not(:first-child) {
      border-top: 1px solid #3cb4ac; } }
  .navigation__link, .navigation__link:active, .navigation__link:link {
    text-decoration: none;
    padding: 1rem;
    margin: 0 2rem;
    color: white;
    font-family: inherit; }
    @media only screen and (max-width: 56.25em) {
      .navigation__link, .navigation__link:active, .navigation__link:link {
        color: #147b74;
        padding: 2.5rem 1rem;
        font-size: 2rem;
        display: block;
        font-weight: 700; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        display: block;
        z-index: 300; } }
  .navigation__icon {
    display: block;
    position: absolute;
    top: 50%;
    translate: 0, -50%;
    width: 100%;
    height: 2.5px;
    background-color: white;
    transition: all 0.3s; }
    .navigation__icon::after, .navigation__icon::before {
      content: "";
      position: absolute;
      width: 3rem;
      height: 2.5px;
      transition: all 0.3s;
      background-color: white; }
    .navigation__icon::after {
      top: -1rem; }
    .navigation__icon::before {
      top: 1rem; }
  .navigation__checkbox:checked ~ .navigation__button > .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button > .navigation__icon::after {
    rotate: 135deg;
    top: 0; }
  .navigation__checkbox:checked ~ .navigation__button > .navigation__icon::before {
    rotate: 45deg;
    top: 0; }

.hero-img img {
  object-fit: cover;
  display: block;
  max-width: 100%;
  width: 100%; }

body > .section {
  margin-top: -15rem;
  z-index: 10;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    body > .section {
      margin-top: -5rem;
      padding-top: 10%; } }

.section {
  max-width: 60%;
  padding: 4rem 5rem;
  margin: auto;
  background-color: white;
  border-radius: 0.5rem; }
  @media only screen and (max-width: 56.25em) {
    .section {
      max-width: 100%;
      padding: 5% 5%;
      margin: 0 5%; } }
  .section {
    margin-top: 3rem; }
  .section--data .data-wrap {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .section--data .data-wrap {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
  .section--data span {
    display: block; }
  .section--data hr {
    margin: 0 4rem;
    width: 1px;
    border: none;
    background-color: #3cb4ac;
    opacity: 0.5; }
    @media only screen and (max-width: 56.25em) {
      .section--data hr {
        height: 1px;
        width: 20%;
        margin: 2rem 0; } }
  .section--data input {
    display: inline-block;
    width: 100%; }
