.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5%;
  z-index: 100;

  @include respond(tab-port) {
    background-image: linear-gradient(to bottom, black, transparent);
    padding: 5%;
  }

  &__logo {
    @include respond(tab-port) {
      z-index: 300;
    }
  }

  &__nav {
    @include respond(tab-port) {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100vh;
      background-image: linear-gradient(to bottom, black 5%, transparent);
      opacity: 0;
      translate: 100% 0;
      transition: all 0.2s;
    }
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    translate: 0 0;
  }

  &__list {
    display: flex;
    list-style: none;

    @include respond(tab-port) {
      flex-direction: column;
      background-color: white;
      position: absolute;
      width: 90%;
      left: 5%;
      top: 10rem;
      border-radius: 1rem;
    }
  }

  &__item {
    @include respond(tab-port) {
      &:not(:first-child) {
        border-top: 1px solid $modeate-cyan;
      }
    }
  }

  &__link,
  &__link:active,
  &__link:link {
    text-decoration: none;
    padding: 1rem;
    margin: 0 2rem;
    color: white;
    font-family: inherit;

    @include respond(tab-port) {
      color: $dark-cyan;
      padding: 2.5rem 1rem;
      font-size: 2rem;
      display: block;
      font-weight: 700;
    }
  }

  //toggle btn
  &__checkbox {
    display: none;
  }

  &__button {
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    display: none;

    @include respond(tab-port) {
      display: block;
      z-index: 300;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    top: 50%;
    translate: 0, -50%;
    width: 100%;
    height: 2.5px;
    background-color: white;

    transition: all 0.3s;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 3rem;
      height: 2.5px;
      transition: all 0.3s;
      background-color: white;
    }

    &::after {
      top: -1rem;
    }

    &::before {
      top: 1rem;
    }
  }

  &__checkbox:checked ~ &__button > &__icon {
    background-color: transparent;
  }

  &__checkbox:checked ~ &__button > &__icon::after {
    rotate: 135deg;
    top: 0;
  }

  &__checkbox:checked ~ &__button > &__icon::before {
    rotate: 45deg;
    top: 0;
  }
}
