.btn {
  text-decoration: none;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 2.8rem;
  background-color: $dark-cyan;

  &:hover {
    background-color: $modeate-cyan;
  }

  &--back {
    @include respond(tab-port) {
      flex-grow: 1;
      border-radius: 4rem;
    }
  }

  &--bookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $modeate-cyan;
    padding: 0;
    margin-left: 2rem;

    @include respond(tab-port) {
      border-radius: 50%;
      padding: 0;
    }

    span {
      margin: 0 2.5rem;

      @include respond(tab-port) {
        display: none;
      }
    }
  }
}
