.card {
  padding: 3rem;
  border: 1px solid rgba($modeate-cyan, 0.5);
  border-radius: 2rem;

  .heading--tertiary {
    position: relative;

    &::after {
      position: absolute;
      right: 0px;
      color: rgba($modeate-cyan, 0.5);
      font-weight: 400;
      font-size: 1.6rem;
    }

    @include respond(tab-port) {
      position: relative;
      left: 0;
      top: 150%;
    }
  }

  &:nth-of-type(1) .heading--tertiary::after {
    content: "Pledge $25 or more";
  }

  &:nth-of-type(2) .heading--tertiary::after {
    content: "Pledge $50 or more";
  }

  &:nth-of-type(3) .heading--tertiary::after {
    content: "Pledge $75 or more";
  }

  .paragraph {
    margin-top: 5rem;
  }

  &__data-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }

    span {
      position: relative;

      &::after {
        content: "left";
        position: absolute;
        top: 50%;
        right: -3rem;
        translate: 0 -50%;
        font-size: 1.2rem;
        color: $modeate-cyan;
      }
    }
  }
}
