.card {
  padding: 3rem;
  border: 1px solid rgba($modeate-cyan, 0.5);
  border-radius: 2rem;

  .heading--tertiary {
    position: relative;

    &::after {
      position: absolute;
      right: 0px;
      content: "sdlfknmsdfgk";
      color: rgba($modeate-cyan, 0.5);
      font-weight: 400;
      font-size: 1.6rem;
    }
  }

  &:nth-of-type(1) .heading--tertiary::after {
    content: "Pledge $25 or more";
  }

  &:nth-of-type(2) .heading--tertiary::after {
    content: "Pledge $50 or more";
  }

  &:nth-of-type(3) .heading--tertiary::after {
    content: "Pledge $75 or more";
  }

  &__data-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      position: relative;

      &::after {
        content: "left";
        position: absolute;
        top: 50%;
        right: -3rem;
        translate: 0 -50%;
        font-size: 1.2rem;
        color: $modeate-cyan;
      }
    }
  }
}
