.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-gray, 0.4);
  overflow-y: auto;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    &--wrap {
      & > div {
        display: flex;

        input {
          margin-right: 3rem;
        }

        .heading--tertiary {
          position: relative;

          &:hover {
            color: rgba($modeate-cyan, 0.5);
            cursor: pointer;
          }

          &::after {
            color: rgba($modeate-cyan, 0.5);
            font-weight: 400;
            font-size: 1.6rem;
            margin-left: 2rem;

            @include respond(tab-port) {
              display: block;
              margin-left: 0;
            }
          }
        }
      }

      .paragraph {
        margin-left: calc(3rem + 13px);
      }

      .amount-left--desktop {
        margin-left: auto;

        @include respond(tab-port) {
          display: none;
        }
      }

      .amount-left--phone {
        display: none;

        @include respond(tab-port) {
          display: block;
          margin-left: calc(3rem + 13px);

          .amount-left__num {
            font-size: 3rem;
          }
          .amount-left__text {
            font-size: 1.5rem;
            top: -3px;
          }
        }
      }

      .amount-left__num {
        font-weight: 700;
        font-size: 2rem;
        color: black;
      }
      .amount-left__text {
        font-size: 1.2rem;
        position: relative;
        top: -2px;
      }
    }

    &--extension {
      border-top: 1px solid rgba($modeate-cyan, 0.5);
      margin: 0 -3rem -3rem;
      padding: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include respond(tab-port) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }

      .extension__buttons {
        display: flex;
        gap: 2rem;
        align-items: center;
      }

      .btn--donate {
        cursor: pointer;
        border: 1px solid rgba($modeate-cyan, 0.5);
        padding: 1rem 2rem;
        border-radius: 2.8rem;

        input {
          width: 4rem;
          border: 0;
          outline: 0;
          -moz-appearance: textfield;
          text-align: center;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      label a {
        display: block;
      }
    }
  }

  &__back-project {
    position: relative;
    & > * {
      margin-bottom: 3rem;
    }

    .close-btn {
      position: absolute;
      top: 3rem;
      right: 3rem;
      cursor: pointer;
      font-weight: 700;
    }
    & > div {
      padding: 3rem;
      border: 1px solid rgba($modeate-cyan, 0.5);
      border-radius: 2rem;

      &:nth-of-type(2) .heading--tertiary::after {
        content: "Pledge $25 or more";
      }

      &:nth-of-type(3) .heading--tertiary::after {
        content: "Pledge $50 or more";
      }

      &:nth-of-type(4) .heading--tertiary::after {
        content: "Pledge $75 or more";
      }
    }
  }

  &__thanks {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5%;
    left: 0;
    background-color: rgba(128, 128, 128, 0.39);

    .message {
      text-align: center;
      max-width: 60rem;
      margin: auto;

      .btn {
        padding: 2rem 4rem;
        display: inline-block;
      }
    }
  }
}
