.hero-img {
  img {
    object-fit: cover;
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

body > .section {
  margin-top: -15rem;
  z-index: 10;
  position: relative;

  @include respond(tab-port) {
    margin-top: -5rem;
    padding-top: 10%;
  }
}

.section {
  max-width: 60%;
  padding: 4rem 5rem;
  margin: auto;
  background-color: white;
  border-radius: 0.5rem;

  @include respond(tab-port) {
    max-width: 100%;
    padding: 5% 5%;
    margin: 0 5%;
  }

  &:not(body > .section) {
    margin-top: 3rem;
  }

  &--data {
    @include respond(tab-port) {
    }

    .data-wrap {
      display: flex;

      @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    span {
      display: block;
    }

    hr {
      margin: 0 4rem;
      width: 1px;
      border: none;
      background-color: $modeate-cyan;
      opacity: 0.5;

      @include respond(tab-port) {
        height: 1px;
        width: 20%;
        margin: 2rem 0;
      }
    }

    input {
      display: inline-block;
      width: 100%;
    }
  }
}
